In [8]:
import os
import pandas as pd
from utils.general import aux

In [9]:
DATA_RAW_PATH = os.path.join('..','data','raw')
DATA_RAW_NAME = ['abono.csv', 'aposentados.csv']
DATA_IMG_PATH = os.path.join('..', 'figures')
DATA_INTER_PATH = os.path.join('..','data','interim')
DATA_INTER_NAME = 'interim.csv'

In [12]:
df = pd.read_csv(os.path.join(DATA_INTER_PATH, DATA_INTER_NAME), sep='\t')

In [13]:
df.head(2)

,NOME,CPF,DSC_CARGO_EMPREGO,NV_ESCOLARIDADE,DN_ORGAO_ATUACAO,UF_UPAG,DN_UNIDADE_ORGANIZACIONAL,UF_RESIDENCIA,CIDADE_RESIDENCIA,SITUACAO_SVR,...,CD_ORGAO,CARGO,CLASSE,PADRAO,NIVEL,TP_APOSENTADORIA,DT_PUBLI_DO_DL,OC_INGRESSO_SVP,DT_OC_INGRESSO_SVP,VL_RENDIMENTO_LIQUIDO
0,CICERO JOAQUIM DOS SANTOS FILHO ...,***204574**,AUDITOR FISCAL FEDERAL AGROPECUARIO,ENSINO SUPERIOR,"MINIST.DA AGRICULTURA,PECUARIA E ABAST.",PE,SUP FED AGRIC PEC ABAST EST PERNAMBUCO,PE,CARUARU,ATIVO PERMANENTE,...,0,AUDITOR FISCAL FEDERAL AGROPECUARIO,S,IV,0,VOLUNTARIA,2020-04-01,ADMISSAO POR CONCURSO PUBLICO ...,1976-04-30,14566.0
1,CICERO JOAQUIM DOS SANTOS FILHO ...,***204574**,AUDITOR FISCAL FEDERAL AGROPECUARIO,ENSINO SUPERIOR,"MINIST.DA AGRICULTURA,PECUARIA E ABAST.",PE,SUP FED AGRIC PEC ABAST EST PERNAMBUCO,PE,CARUARU,ATIVO PERMANENTE,...,0,AUDITOR FISCAL FEDERAL AGROPECUARIO,S,IV,0,VOLUNTARIA,2020-04-01,ADMISSAO POR CONCURSO PUBLICO ...,1976-04-30,14566.0

In [14]:
df_eda = df.groupby(
    by=[
        'NOME',
        'CPF',
        'DSC_CARGO_EMPREGO',
        'NV_ESCOLARIDADE',
        'DN_ORGAO_ATUACAO',
        'UF_UPAG',
        'DN_UNIDADE_ORGANIZACIONAL',
        'CIDADE_RESIDENCIA',
        'UF_RESIDENCIA',
        'MAT_SERVIDOR',
        'SIGLA_ORGAO',
        'CLASSE',
        'NIVEL',
        'TP_APOSENTADORIA',
        'OC_INGRESSO_SVP',
        'CD_ORGAO'
    ]
)[
    [
        'VAL', 
        'VL_RENDIMENTO_LIQUIDO'
    ]
].sum().reset_index()

In [16]:
aux(df_eda)

,colunas,tipo,missing,size,unicos,percentual%
NOME,NOME,object,0,14900,12762,0.0
CPF,CPF,object,0,14900,12746,0.0
DSC_CARGO_EMPREGO,DSC_CARGO_EMPREGO,object,0,14900,502,0.0
NV_ESCOLARIDADE,NV_ESCOLARIDADE,object,0,14900,10,0.0
DN_ORGAO_ATUACAO,DN_ORGAO_ATUACAO,object,0,14900,185,0.0
UF_UPAG,UF_UPAG,object,0,14900,27,0.0
DN_UNIDADE_ORGANIZACIONAL,DN_UNIDADE_ORGANIZACIONAL,object,0,14900,648,0.0
CIDADE_RESIDENCIA,CIDADE_RESIDENCIA,object,0,14900,1315,0.0
UF_RESIDENCIA,UF_RESIDENCIA,object,0,14900,28,0.0
MAT_SERVIDOR,MAT_SERVIDOR,int64,0,14900,12883,0.0
SIGLA_ORGAO,SIGLA_ORGAO,object,0,14900,185,0.0
CLASSE,CLASSE,object,0,14900,29,0.0
NIVEL,NIVEL,int64,0,14900,22,0.0
TP_APOSENTADORIA,TP_APOSENTADORIA,object,0,14900,4,0.0
OC_INGRESSO_SVP,OC_INGRESSO_SVP,object,0,14900,13,0.0
CD_ORGAO,CD_ORGAO,int64,0,14900,16,0.0
VAL,VAL,float64,0,14900,10651,0.0
VL_RENDIMENTO_LIQUIDO,VL_RENDIMENTO_LIQUIDO,float64,0,14900,14623,0.0